/* =========================
   PRODUCT CARD
========================= */

.product-card{
  background: var(--card-color);

  border-radius: var(--radius);

  overflow: hidden;

  box-shadow: var(--shadow);

  transition: var(--transition);

  cursor: pointer;
}

.product-card:hover{
  transform: translateY(-8px);
}

/* =========================
   IMAGE WRAPPER
========================= */

.product-image-wrapper{
  width: 100%;
  height: 250px;

  overflow: hidden;
}

/* =========================
   IMAGE
========================= */

.product-image{
  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: 0.4s ease;
}

.product-card:hover .product-image{
  transform: scale(1.08);
}

/* =========================
   CONTENT
========================= */

.product-content{
  padding: 18px;
}

/* =========================
   TITLE
========================= */

.product-title{
  font-size: 18px;
  font-weight: 600;

  color: var(--text-color);

  margin-bottom: 12px;

  line-height: 1.5;

  min-height: 55px;
}

/* =========================
   PRICE
========================= */

.product-price{
  font-size: 22px;
  font-weight: 700;

  color: var(--primary-color);
}